.badge {
  display: inline-block;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: inline-flex;
  position: relative;

  &__txt {
    background-color: #e34d59;
    color: #ffffffe6;
    display: inline-block;
    font-size: 20rpx;
    font-weight: 400;
    height: 32rpx;
    line-height: 32rpx;
    min-width: 32rpx;
    padding: 0 8rpx;
    text-align: center;
    z-index: 100;
  }

  &--has-children {
    .badge__txt {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
    }
  }

  &--dot {
    .badge__txt {
      border-radius: 50%;
      height: 20rpx;
      min-width: 20rpx;
      padding: 0;
    }
  }

  &--circle {
    .badge__txt {
      border-radius: 16rpx;
    }
  }
}
