.example {
  .t-demo1 {
    margin: 0 32rpx;
  }
  .t-demo2 {
    margin-left: 32rpx;
  }
  .t-demo3 {
    margin-left: 152rpx;
  }

  .vertical-panel {
    color: #0006;
    display: flex;
    font-size: 24rpx;
    height: 40rpx;
    margin: 0 32rpx;
  }
}
