@font-face {
  font-family: "iconfont"; /* Project id 3867289 */
  src: url('//at.alicdn.com/t/c/font_3867289_l9qlmi1hydr.woff2?t=1674037917228') format('woff2'),
       url('//at.alicdn.com/t/c/font_3867289_l9qlmi1hydr.woff?t=1674037917228') format('woff'),
       url('//at.alicdn.com/t/c/font_3867289_l9qlmi1hydr.ttf?t=1674037917228') format('truetype');
}

.icon {
  font-family: "iconfont" !important;
  font-size: 32rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user-clear:before {
  content: "\e69b";
}

.icon-logo-wecom:before {
  content: "\e69c";
}

.icon-tools:before {
  content: "\e69d";
}

.icon-user-talk:before {
  content: "\e69e";
}

.icon-user:before {
  content: "\e69f";
}

.icon-tips:before {
  content: "\e6a0";
}

.icon-user-add:before {
  content: "\e6a1";
}

.icon-thumb-down:before {
  content: "\e6a2";
}

.icon-upload:before {
  content: "\e6a3";
}

.icon-usb:before {
  content: "\e6a4";
}

.icon-logo-codepen:before {
  content: "\e6a5";
}

.icon-swap-left:before {
  content: "\e6a6";
}

.icon-time:before {
  content: "\e6a7";
}

.icon-time-filled:before {
  content: "\e6a8";
}

.icon-unfold-less:before {
  content: "\e6a9";
}

.icon-user-avatar:before {
  content: "\e6aa";
}

.icon-usergroup-add:before {
  content: "\e6ab";
}

.icon-wallet:before {
  content: "\e6ac";
}

.icon-stop-circle-filled:before {
  content: "\e6ad";
}

.icon-next:before {
  content: "\e6ae";
}

.icon-view-column:before {
  content: "\e6af";
}

.icon-notification:before {
  content: "\e6b0";
}

.icon-video:before {
  content: "\e6b1";
}

.icon-view-list:before {
  content: "\e6b2";
}

.icon-usergroup:before {
  content: "\e6b3";
}

.icon-thumb-up:before {
  content: "\e6b4";
}

.icon-view-module:before {
  content: "\e6b5";
}

.icon-move:before {
  content: "\e6b6";
}

.icon-usergroup-clear:before {
  content: "\e6b7";
}

.icon-order-adjustment-column:before {
  content: "\e6b8";
}

.icon-logo-apple:before {
  content: "\e6b9";
}

.icon-stop:before {
  content: "\e6ba";
}

.icon-order-ascending:before {
  content: "\e6bb";
}

.icon-play:before {
  content: "\e6bc";
}

.icon-precise-monitor:before {
  content: "\e6bd";
}

.icon-play-circle:before {
  content: "\e6be";
}

.icon-play-circle-filled:before {
  content: "\e6bf";
}

.icon-pin:before {
  content: "\e6c0";
}

.icon-page-first:before {
  content: "\e6c1";
}

.icon-previous:before {
  content: "\e6c2";
}

.icon-poweroff:before {
  content: "\e6c3";
}

.icon-page-last:before {
  content: "\e6c4";
}

.icon-pause-circle-filled:before {
  content: "\e6c5";
}

.icon-play-circle-stroke:before {
  content: "\e6c6";
}

.icon-slash:before {
  content: "\e6c7";
}

.icon-zoom-in:before {
  content: "\e6c8";
}

.icon-wifi:before {
  content: "\e6c9";
}

.icon-order-descending:before {
  content: "\e6ca";
}

.icon-rollfront:before {
  content: "\e6cb";
}

.icon-stop-circle-1:before {
  content: "\e6cc";
}

.icon-logo-apple-filled:before {
  content: "\e6cd";
}

.icon-root-list:before {
  content: "\e6ce";
}

.icon-photo:before {
  content: "\e6cf";
}

.icon-pin-filled:before {
  content: "\e6d0";
}

.icon-rotation:before {
  content: "\e6d1";
}

.icon-star-filled:before {
  content: "\e6d2";
}

.icon-logo-android:before {
  content: "\e6d3";
}

.icon-mobile-vibrate:before {
  content: "\e6d4";
}

.icon-minus-rectangle:before {
  content: "\e6d5";
}

.icon-scan:before {
  content: "\e6d6";
}

.icon-minus-circle-filled:before {
  content: "\e6d7";
}

.icon-zoom-out:before {
  content: "\e6d8";
}

.icon-mail:before {
  content: "\e6d9";
}

.icon-setting:before {
  content: "\e6da";
}

.icon-menu-fold:before {
  content: "\e6db";
}

.icon-notification-filled:before {
  content: "\e6dc";
}

.icon-minus-circle:before {
  content: "\e6dd";
}

.icon-star:before {
  content: "\e6de";
}

.icon-round:before {
  content: "\e6df";
}

.icon-mirror:before {
  content: "\e6e0";
}

.icon-menu-unfold:before {
  content: "\e6e1";
}

.icon-money-circle:before {
  content: "\e6e2";
}

.icon-more:before {
  content: "\e6e3";
}

.icon-minus-rectangle-filled:before {
  content: "\e6e4";
}

.icon-mobile:before {
  content: "\e6e5";
}

.icon-shop:before {
  content: "\e6e6";
}

.icon-save:before {
  content: "\e6e7";
}

.icon-search:before {
  content: "\e6e8";
}

.icon-secured:before {
  content: "\e6e9";
}

.icon-logout:before {
  content: "\e6ea";
}

.icon-sound:before {
  content: "\e6eb";
}

.icon-share:before {
  content: "\e6ec";
}

.icon-server:before {
  content: "\e6ed";
}

.icon-service:before {
  content: "\e6ee";
}

.icon-add:before {
  content: "\e601";
}

.icon-add-rectangle:before {
  content: "\e602";
}

.icon-add-circle:before {
  content: "\e603";
}

.icon-app:before {
  content: "\e604";
}

.icon-arrow-down:before {
  content: "\e605";
}

.icon-attach:before {
  content: "\e606";
}

.icon-arrow-down-rectangle:before {
  content: "\e607";
}

.icon-arrow-right:before {
  content: "\e608";
}

.icon-arrow-up:before {
  content: "\e609";
}

.icon-arrow-left:before {
  content: "\e60a";
}

.icon-books:before {
  content: "\e60b";
}

.icon-backtop-rectangle:before {
  content: "\e60c";
}

.icon-barcode:before {
  content: "\e60d";
}

.icon-calendar:before {
  content: "\e60e";
}

.icon-backtop:before {
  content: "\e60f";
}

.icon-backward:before {
  content: "\e610";
}

.icon-bulletpoint:before {
  content: "\e611";
}

.icon-browse:before {
  content: "\e612";
}

.icon-browse-off:before {
  content: "\e613";
}

.icon-call:before {
  content: "\e614";
}

.icon-caret-left-small:before {
  content: "\e615";
}

.icon-caret-right:before {
  content: "\e616";
}

.icon-caret-right-small:before {
  content: "\e617";
}

.icon-caret-down-small:before {
  content: "\e618";
}

.icon-check-circle-filled:before {
  content: "\e619";
}

.icon-caret-up-small:before {
  content: "\e61a";
}

.icon-chart-pie:before {
  content: "\e61b";
}

.icon-caret-down:before {
  content: "\e61c";
}

.icon-caret-left:before {
  content: "\e61d";
}

.icon-chart-bar:before {
  content: "\e61e";
}

.icon-cart:before {
  content: "\e61f";
}

.icon-chat:before {
  content: "\e620";
}

.icon-chart:before {
  content: "\e621";
}

.icon-chart-bubble:before {
  content: "\e622";
}

.icon-check-circle:before {
  content: "\e623";
}

.icon-caret-up:before {
  content: "\e624";
}

.icon-chevron-down:before {
  content: "\e625";
}

.icon-chevron-left-circle:before {
  content: "\e626";
}

.icon-chevron-left-double:before {
  content: "\e627";
}

.icon-chevron-down-rectangle:before {
  content: "\e628";
}

.icon-chevron-right:before {
  content: "\e629";
}

.icon-chevron-left:before {
  content: "\e62a";
}

.icon-chevron-left-rectangle:before {
  content: "\e62b";
}

.icon-chevron-right-rectangle:before {
  content: "\e62c";
}

.icon-check-rectangle-filled:before {
  content: "\e62d";
}

.icon-check-rectangle:before {
  content: "\e62e";
}

.icon-chevron-up-circle:before {
  content: "\e62f";
}

.icon-chevron-right-double:before {
  content: "\e630";
}

.icon-chevron-right-circle:before {
  content: "\e631";
}

.icon-chevron-down-circle:before {
  content: "\e632";
}

.icon-check:before {
  content: "\e633";
}

.icon-clear:before {
  content: "\e634";
}

.icon-chevron-up:before {
  content: "\e635";
}

.icon-code:before {
  content: "\e636";
}

.icon-close-rectangle:before {
  content: "\e637";
}

.icon-cloud:before {
  content: "\e638";
}

.icon-chevron-up-rectangle:before {
  content: "\e639";
}

.icon-creditcard:before {
  content: "\e63a";
}

.icon-close-circle:before {
  content: "\e63b";
}

.icon-close-circle-filled:before {
  content: "\e63c";
}

.icon-circle:before {
  content: "\e63d";
}

.icon-close:before {
  content: "\e63e";
}

.icon-control-platform:before {
  content: "\e63f";
}

.icon-cloud-upload:before {
  content: "\e640";
}

.icon-cloud-download:before {
  content: "\e641";
}

.icon-delete:before {
  content: "\e642";
}

.icon-dashboard:before {
  content: "\e643";
}

.icon-error:before {
  content: "\e644";
}

.icon-desktop:before {
  content: "\e645";
}

.icon-enter:before {
  content: "\e646";
}

.icon-discount:before {
  content: "\e647";
}

.icon-edit-1:before {
  content: "\e648";
}

.icon-ellipsis:before {
  content: "\e649";
}

.icon-file-add:before {
  content: "\e64a";
}

.icon-error-circle-filled:before {
  content: "\e64b";
}

.icon-file-copy:before {
  content: "\e64c";
}

.icon-error-circle:before {
  content: "\e64d";
}

.icon-edit:before {
  content: "\e64e";
}

.icon-download:before {
  content: "\e64f";
}

.icon-discount-filled:before {
  content: "\e650";
}

.icon-file-powerpoint:before {
  content: "\e651";
}

.icon-file-image:before {
  content: "\e652";
}

.icon-filter:before {
  content: "\e653";
}

.icon-file-paste:before {
  content: "\e654";
}

.icon-file-unknown:before {
  content: "\e655";
}

.icon-folder:before {
  content: "\e656";
}

.icon-folder-open:before {
  content: "\e657";
}

.icon-file-word:before {
  content: "\e658";
}

.icon-flag:before {
  content: "\e659";
}

.icon-file:before {
  content: "\e65a";
}

.icon-folder-add:before {
  content: "\e65b";
}

.icon-filter-clear:before {
  content: "\e65c";
}

.icon-file-excel:before {
  content: "\e65d";
}

.icon-file-icon:before {
  content: "\e65e";
}

.icon-file-pdf:before {
  content: "\e65f";
}

.icon-fullscreen-exit:before {
  content: "\e660";
}

.icon-format-vertical-align-right:before {
  content: "\e661";
}

.icon-format-horizontal-align-center:before {
  content: "\e662";
}

.icon-format-vertical-align-left:before {
  content: "\e663";
}

.icon-heart-filled:before {
  content: "\e664";
}

.icon-format-vertical-align-center:before {
  content: "\e665";
}

.icon-gender-male:before {
  content: "\e666";
}

.icon-gender-female:before {
  content: "\e667";
}

.icon-format-horizontal-align-bottom:before {
  content: "\e668";
}

.icon-fullscreen:before {
  content: "\e669";
}

.icon-fork:before {
  content: "\e66a";
}

.icon-forward:before {
  content: "\e66b";
}

.icon-format-horizontal-align-top:before {
  content: "\e66c";
}

.icon-help-circle-filled:before {
  content: "\e66d";
}

.icon-heart:before {
  content: "\e66e";
}

.icon-gift:before {
  content: "\e66f";
}

.icon-info-circle-filled:before {
  content: "\e670";
}

.icon-laptop:before {
  content: "\e671";
}

.icon-loading:before {
  content: "\e672";
}

.icon-info-circle:before {
  content: "\e673";
}

.icon-hourglass:before {
  content: "\e674";
}

.icon-jump:before {
  content: "\e675";
}

.icon-home:before {
  content: "\e676";
}

.icon-image:before {
  content: "\e677";
}

.icon-help:before {
  content: "\e678";
}

.icon-internet:before {
  content: "\e679";
}

.icon-image-error:before {
  content: "\e67a";
}

.icon-history:before {
  content: "\e67b";
}

.icon-link-unlink:before {
  content: "\e67c";
}

.icon-layers:before {
  content: "\e67d";
}

.icon-link:before {
  content: "\e67e";
}

.icon-help-circle:before {
  content: "\e67f";
}

.icon-lock-on:before {
  content: "\e680";
}

.icon-logo-github-filled:before {
  content: "\e681";
}

.icon-logo-qq:before {
  content: "\e682";
}

.icon-location:before {
  content: "\e683";
}

.icon-login:before {
  content: "\e684";
}

.icon-logo-chrome:before {
  content: "\e685";
}

.icon-logo-github:before {
  content: "\e686";
}

.icon-logo-ie-filled:before {
  content: "\e687";
}

.icon-lock-off:before {
  content: "\e688";
}

.icon-logo-chrome-filled:before {
  content: "\e689";
}

.icon-logo-ie:before {
  content: "\e68a";
}

.icon-logo-windows-filled:before {
  content: "\e68b";
}

.icon-rectangle:before {
  content: "\e68c";
}

.icon-remove:before {
  content: "\e68d";
}

.icon-logo-windows:before {
  content: "\e68e";
}

.icon-relativity:before {
  content: "\e68f";
}

.icon-refresh:before {
  content: "\e690";
}

.icon-print:before {
  content: "\e691";
}

.icon-qrcode:before {
  content: "\e692";
}

.icon-rollback:before {
  content: "\e693";
}

.icon-queue:before {
  content: "\e694";
}

.icon-logo-wechat:before {
  content: "\e695";
}

.icon-swap:before {
  content: "\e696";
}

.icon-swap-right:before {
  content: "\e697";
}

.icon-user-circle:before {
  content: "\e698";
}

.icon-stop-circle:before {
  content: "\e699";
}

.icon-unfold-more:before {
  content: "\e69a";
}

.icon-eye-hide:before {
  content: "\e600";
}
