page {
  --primary-color: #0052d9;
  --danger-color: #e34d59;
}

.example {
  background-color: #f6f6f6;
}
.example-title {
  color: #a9a9a9;
  font-family: PingFang SC;
  font-size: 24rpx;
  font-weight: 400;
  padding: 32rpx;
}
